<div class="fadeIn">
  <div class="img-text">
    <img class="img-fluid" src="assets/img/taylor-vick-M5tzZtFCOfs-unsplash.jpg" draggable="false" alt="">
    <div class="title">MEAN Stack Server service
      <div class="sub-title">บริการจัดการและดูแลเซิร์ฟเวอร์ เพื่อให้ผู้ใช้บริการได้รับการบริการที่ดีที่สุด</div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-left">
            <div class="about-img">
              <img src="assets/img/paul-hanaoka-s0XabTAKvak-unsplash.jpg" draggable="false" alt=""
                class="responsive-img">
            </div>
          </div>
        </div>
        <div class="col-lg-6 py-3">
          <div class="reveal-right">
            <h2 class="title-section">บริการ Dedicate Server</h2>
            <p>
              บริการให้เช่าเครื่องเซิร์ฟเวอร์ เหมาะสำหรับบุคคล ร้านค้าหรือองค์กร ที่ไม่ต้องการลงทุน
              ซื้อเครื่องเซิร์ฟเวอร์และระบบปฏิบัติการ โดยทางเราจะจัดหาซอฟต์แวร์และฮาร์ดแวร์ ลูกค้า
              สามารถนำแอพพลิเคชัน และข้อมูลมาติดตั้งในเครื่องเซิร์ฟเวอร์ได้ทันที โดยไม่ต้องลงทุน
              ซื้อเครื่องเซิร์ฟเวอร์และระบบปฏิบัติการเอง หรือจะใช้งานเป็นเว็บเซิร์ฟเวอร์ อีเมลเซิฟเวอร์ไฟล์
              ไฟล์เซิร์ฟเวอร์ ทางเราสามารถตรวจสอบการอัพเดตให้ลูกค้าได้ทันที อีกทั้งเซิร์ฟเวอร์ของเรามี Bandwidth
              ในการเชื่อมต่อต่างประเทศสูงถึง 3 Gbps และ Bandwidth ในการเชื่อต่อในประเทศ
              40 Gbps โดยไม่จำกัดปริมาณการรับส่งข้อมูล พร้อมระบบรักษาแรงดันไฟฟ้า พร้อมด้วย UPS และ Power Generator
              และมีรายงานปริมาณข้อมูลเข้าออกที่สามรถแจ้งเตือนให้ลูกค้าทราบถึงการดำเนินการของข้อมูลได้
            </p>
            <div class="mt-5"></div>
            <h2 class="title-section">เลือกบริการได้ตามงบประมาณ</h2>
            <p>
              ทางเรามีเครื่องเซิร์ฟเวอร์ และระบบปฏิบัติการให้เลือกหลากหลายรุ่น ตามความต้องการและ
              งบประมาณของลูกค้า ทั้งนี้ทางเรามีเจ้าหน้าที่ช่วยแนะนำในการเลือกเครื่องเซิร์ฟเวอร์ และ
              ระบบปฏิบัติการให้เหมาะสมกับแอพพลิเคชันของลูกค้า และช่วยเหลือลูกค้าในการเซ็ตอัพระบบเริ่มต้น
              โดย System engineer มืออาชีพ ทั้งนี้ลูกค้ายังไม่ต้องกังวลถึงปัญหาเครื่องเซิร์ฟเวอร์และอุปกรณ์ต่างๆเสีย
              เนื่องจากทางเราจะเป็นผู้ดูแลให้ทั้งหมด พร้อมทั้งมีเครื่องสำรองให้ใช้งานด้วย
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="why-mean-stack">ท่านสามารถเลือกบริการที่ต้องการได้ที่นี่</h4>

  <div class="container">
    <div class="row">
      <div *ngFor="let item of Servers" class="col mt-5">
        <div class="reveal-bottom">
          <div class="card-header">
            <div class="row card-row">
              <div class="col">
                <h2 class="card-title">{{item.title}}</h2>
              </div>
            </div>
            <div class="row card-row">
              <span>{{item.description}}</span>
            </div>
            <div class="row card-row">
              <h3>{{item.price}} บาท/ปี</h3>
            </div>
            <div class="row card-row">
              <span>{{item.promotion}}</span>
            </div>
            <div class="row card-row">
              <a class="btn btn-large">
                สั่งซื้อ
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </div>
          </div>
          <div class="card-content">
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-hard-drive fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    SPACE
                  </div>
                  <div>
                    {{item.space}}GB
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-gauge-high fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    BANDWIDTH
                  </div>
                  <div>
                    {{item.bandwidth}} MB/mo
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-server fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    SERVER
                  </div>
                  <div>
                    {{item.server_amouth}} SERVER
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-computer fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    SERVER TYPE
                  </div>
                  <div>
                    {{item.server_type}}
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-cubes fa-3x"></i>
                </div>
                <div class="col">
                  <div class="float-left">
                    OS
                  </div>
                  <div class="float-left">
                    {{item.operating_system}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="why-mean-stack">ทำไมต้องใช้บริการของเรา ?</h4>

  <div class="container mb-10">
    <div class="row align-items-center">
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-shield-halved fa-8x"></i>
          <div>
            <h5><small>มีความปลอดภัยสูง</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-rss fa-8x"></i>
          <div>
            <h5><small>มีการรับส่งข้อมูลที่เสถียร</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-gauge-high fa-8x"></i>
          <div>
            <h5><small>รับส่งข้อมูลรวดเร็ว</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-user-tie fa-8x"></i>
          <div>
            <h5><small>มีบริการแก้ปัญหา 24 ชั้วโมง</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
