<div class="fadeIn">

  <div class="img-text">
    <img class="img-fluid" src="assets/img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg" draggable="false" alt="">
    <div class="title">MEAN Stack Domain Service
      <div class="sub-title">บริการโดเมนเนมสำหรับเว็บไซต์ทุกรูปแบบ เพื่อตอบโจทย์ลูกค้าทุกประเภท</div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row card-row">
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-left">
            <div class="about-img">
              <img src="assets/img/med-badr-chemmaoui-gddVLbKt79w-unsplash.jpg" draggable="false" alt="" class="responsive-img">
            </div>
          </div>
        </div>
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-right">
            <h2 class="title-section">Hosting ที่ปลอดภัยที่สุด</h2>
            <p>
              เพราะความปลอดภัยเป็นสิ่งสำคัญที่ MEAN Stack เราติดตั้ง Imunify ซึ่งเป็น security suite ที่ประกอบด้วย
              Intrusion Prevention and Detection system, Web Application Firewall(WAF), Real-time Antivirus protection,
              Network Firewall และ Patch Management components เพื่อปกป้องเว็บไซต์ของลูกค้าและ hosting server แบบ
              proactive real-time
            </p>
            <p>
              Advanced Firewall ป้องกันการโจมตีผ่าน HTTP/HTTPS หรือจาก CDN/Proxy เพื่อให้มั่นใจได้ว่า hosting server
              ไม่มี
              downtime
              DS/IPS มีระบบ IP management ซึ่งป้องกันการโจมตีแบบ brute-force ผ่าน FTP, SSH, IMAP/SMTP, WordPress
              และช่องทางอื่นๆ
            </p>
            <div class="mt-5"></div>
            <h2 class="title-section">ฟรี Elementor Pro ตลอดอายุการใช้งาน</h2>
            <p>
              ปลดล๊อกพลังของ Elementor ด้วย Elementor Pro ทำให้การสร้างเว็บด้วย WordPress ง่ายขึ้นมาก ไม่ว่าจะเป็น
              landing
              page ง่ายๆ หรือเว็บไซต์ eCommerce ที่ซับซ้อน คุณสามารถสร้างเว็บได้รวดเร็ว เพียงแค่ใช้ Elementor Pro

              ใช้ hosting กับ Hostneverdie คุ้มค่าสุดๆ เราแถม plugin WordPress Elementor Pro มูลค่า 1,750 บาทต่อปี
              ให้ฟรีตลอดอายุการใช้งาน
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="why-mean-stack">ท่านสามารถเลือกบริการที่ต้องการได้ที่นี่</h4>

  <div class="container">
    <div class="row">
      <div *ngFor="let item of Domains" class="col-lg-4 mb-5">
        <div class="reveal-bottom">
          <div class="card-header">
            <div class="row card-row">
              <div class="col">
                <h2 class="card-title">{{item.title}}</h2>
              </div>
            </div>
            <div class="row card-row">
              <span>{{item.description}}</span>
            </div>
            <div class="row card-row">
              <h3>{{item.price}} บาท/ปี</h3>
            </div>
            <div class="row card-row">
              <span>{{item.promotion}}</span>
            </div>
            <div class="row card-row">
              <a class="btn btn-large">
                สั่งซื้อ
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </div>
          </div>
          <div class="card-content">
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-hard-drive fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    SPACE
                  </div>
                  <div>
                    {{item.space}}GB
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-gauge-high fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    BANDWIDTH
                  </div>
                  <div>
                    {{item.bandwidth}} MB/mo
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-earth-asia fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    DOMAIN
                  </div>
                  <div>
                    {{item.domain_amouth}} Domain
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-regular fa-envelope fa-3x"></i>
                </div>
                <div class="col">
                  <div>
                    EMAIL
                  </div>
                  <div>
                    {{item.email_amouth}}
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="row card-row">
                <div class="col d-flex justify-content-center">
                  <i class="fa-solid fa-database fa-3x"></i>
                </div>
                <div class="col">
                  <div class="float-left">
                    DATABASE
                  </div>
                  <div class="float-left">
                    {{item.database_amouth}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h4 class="why-mean-stack">ทำไมต้องใช้บริการของเรา ?</h4>

  <div class="container mb-10">
    <div class="row align-items-center">
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-regular fa-hard-drive fa-8x"></i>
          <div>
            <h5><small>VPS ประสิทธิภาพสูง</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-server fa-8x"></i>
          <div>
            <h5><small>มี Server ส่วนตัว</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-brands fa-aws fa-8x"></i>
          <div>
            <h5><small>มีพาร์ทเนอร์ที่น่าเชื่อถือ</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-sliders fa-8x"></i>
          <div>
            <h5><small>ปรับแต่งได้ตามต้องการ</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
