<div class="container mt-3">
  <div class="jsutify-content between flex-wrap flex-md-nowarp align-items-center pt-2 pb-2 mb-3 border-bottom">
    <button class="btn btn-sm btn-primary" (click)="open(add_modal)" id="add-book">เพิ่มหนังสือ</button>
    <h1 class="booklist">รายการหนังสือ</h1>
  </div>
    <table class="fadeIn">
      <thead class="jsutify-content between flex-wrap flex-md-nowarp align-items-center pt-2 pb-2 mb-3 border-bottom">
        <tr>
          <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap" scope="col">ชื่อหนังสือ</th>
          <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap" scope="col">ราคา</th>
          <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap" scope="col">รายละเอียด</th>
          <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap" scope="col">ประเภทหนังสือ</th>
          <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap" class="text-center" scope="col">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Books; let i = index">
          <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap" scope="row">{{item.name}}</td>
          <td class="px-4 py-2 text-gray-700 whitespace-nowrap">{{item.price}}</td>
          <td class="px-4 py-2 text-gray-700 whitespace-nowrap">{{item.description}}</td>
          <td class="px-4 py-2 text-gray-700 whitespace-nowrap">{{item.type}}</td>
          <td class="px-4 py-2 text-gray-700 whitespace-nowrap text-center">
            <button class="btn btn-sm btn-success" (click)="openEdit(edit_modal, item._id)">แก้ไข</button>
            <button class="btn btn-sm btn-danger" (click)="openDelete(delete_modal,item._id, i)">ลบ</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<ng-template #add_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">เพิ่มหนังสือ</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="name" required placeholder="ชื่อหนังสือ">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="price" required placeholder="ราคา">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="description" required placeholder="รายละเอียด">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="type" required placeholder="ประเภทหนังสือ">
      </div>
  </div>
  <div class="modal-footer">
    <div class="form-group mt-3">
      <button class="btn btn-primary btn-block" id="btn-add-modal" (click)="d('Cross click')" type="submit">เพิ่มหนังสือ</button>
    </div>
  </div>
</form>
</ng-template>

<ng-template #edit_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">แก้ไขรายละเอียด</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <form [formGroup]="editForm" (ngSubmit)="onUpdate()">
  <div class="modal-body">
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="name" required placeholder="ชื่อหนังสือ">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="price" required placeholder="ราคา">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="description" required placeholder="รายละเอียด">
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" formControlName="type" required placeholder="ประเภทหนังสือ">
      </div>
  </div>
  <div class="modal-footer">
    <div class="form-group mt-3">
      <button class="btn btn-primary btn-block" id="btn-add-modal" (click)="d('Cross click')" type="submit">ยืนยัน</button>
    </div>
  </div>
</form>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">ลบข้อมูล</h4> -->
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body text-center" id="deleteModal">
    <div class="row mt-12">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#FF6666" class="x-phosphor-x-circle-thin" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
    <p id="first-sure">คุณต้องการลบข้อมูลหรือไม่?</p>
    <p id="second-sure">หากคุณทำการยืนยัน ข้อมูลนี้จะถูกลบออกทันทีจากนั้นจะไม่สามารถนำข้อมูลกลับมาได้</p>
    <div class="respondsive">
      <button class="btn-delete btn-secondary btn-block" id="deleteCancle" (click)="d('Cross click')" type="submit">ยกเลิก</button>
      <button class="btn-delete btn-danger btn-block" id="deleteSubmit" (click)="delete(deleteId,deleteIndex)" (click)="d('Cross click')">ยืนยัน</button>
    </div>
  </div>
  <!-- <div class="modal-footer text-center">
      <button class="btn-delete btn-success btn-block" (click)="delete(deleteId,deleteIndex)" (click)="d('Cross click')">ยืนยัน</button>
      <button class="btn-delete btn-danger btn-block" (click)="d('Cross click')" type="submit">ยกเลิก</button>
  </div> -->
</ng-template>
