<div class="fadeIn">
  <div class="img-text">
    <img class="img-fluid" src="assets/img/galymzhan-abdugalimov-ICW6QYOcdlg-unsplash.jpg" draggable="false" alt="">
    <div class="title">MEAN Stack Web Design
      <div class="sub-title">บริการออกแบบเว็บไซต์ทุกรูปแบบ เพื่อตอบโจทย์ลูกค้าทุกประเภท</div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-left">
            <div class="about-img">
              <img src="assets/img/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg" draggable="false" alt=""
                class="responsive-img">
            </div>
          </div>
        </div>
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-right">
            <h2 class="title-section">บริการออกแบบเว็บไซต์แบบ Smart design</h2>
            <p>
              สร้างแบรนด์ด้วยเว็บไซต์ ที่สวยงามแบบมืออาชีพ ด้วยบริการจัดทำเว็บไซต์ เว็บดีไซน์ ,เว็บสำเร็จรูปและ Mobile
              application พร้อมบริการตกแต่งให้เข้ากับแบรนด์ลูกค้า รองรับได้ทุกช่วงราคา
              มี theme premium ให้เลือกกว่า 30 theme หรือ ทำดีไซน์ใหม่
              เชื่อมต่อบริการ Mobile app (Salesone) และสามารถต่อยอดการขายด้วยระบบขอใบเสนอราคาหรือระบบ Ecommerce
              เพื่อรองรับกับความหลายหลากของลูกค้าที่มากขึ้น
              อีกทั้งยังสามารถจัดการสิ่งต่างๆในองค์กรได้ง่ายขึ้นในต้นทุนที่ต่ำและมีประสิทธิภาพ อาทิ การทำระบบ E Service
              ให้ลูกค้าสามารถทำรายการผ่านหน้าเว็บไซต์ได้เองหรือดีลเลอร์บางกลุ่มเข้ามาขอใบเสนอราคาหรือสั่งซื้อสินค้าผ่านระบบ
              b2b ระบบจัดการการขาย B2b รองรับการเปิดหลายหน้าร้าน โดยเลือกใช้สินค้าจากฐานข้อมูลเดียวกัน
            </p>
            <div class="mt-5"></div>
            <h2 class="title-section">เพิ่มยอดขาย</h2>
            <p>
              ท่านสามารถต่อยอดการขายด้วยระบบขอใบเสนอราคาหรือระบบ Ecommerce เพื่อรองรับกับความหลายหลากของลูกค้าที่มากขึ้น
              พร้อมทั้งการทำข้อมูลขององค์กรแบบ 1stpartydata เพื่อต่อยอดการขายในอนาคตได้ โดยระบบสามารถจัดการ
              การขอใบเสนอราคา ระบบEcommerce ค้นหาที่ตั้งร้านค้าสาขา อีกทั้งยังสามารถวิเคราะห์ความสนใจของลูกค้าได้อีกด้วย
            </p>
          </div>
        </div>
      </div>
      <div class="reveal-bottom">
        <img class="img-package mb-5" src="assets/img/readyplanet-smart-design-packages-full.png" draggable="false" alt="">
      </div>
    </div>
  </div>

  <h4 class="why-mean-stack">ทำไมต้องใช้บริการของเรา ?</h4>

  <div class="container mb-10">
    <div class="row align-items-center">
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-list-check fa-8x"></i>
          <div>
            <h5><small>มีระบบจัดการเว็บไซต์</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-regular fa-thumbs-up fa-8x"></i>
          <div>
            <h5><small>มีความสะดวก ใช้งานง่าย</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-brands fa-google fa-8x"></i>
          <div>
            <h5><small>ค้นหาง่ายบน Google</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="me fa-solid fa-wand-magic-sparkles fa-8x"></i>
          <div>
            <h5><small>การออกแบบที่ทันสมัย</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
