
<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>บริการ</h3>
                  <ul>
                      <li><a>ออกแบบเว็บไซต์</a></li>
                      <li><a>การวางระบบ</a></li>
                      <li><a>ดูแลระบบเซิร์ฟเวอร์</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>เกี่ยวกับเรา</h3>
                  <ul>
                      <li><a>บริษัท</a></li>
                      <li><a>ทีมผู้พัฒนา</a></li>
                      <li><a>ผู้ก่อตั้ง</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>บริษัท</h3>
                  <p>เราเป็นผู้นำด้านการออกแบบเว็บไซต์ชั้นนำของประเทศ เราได้ตระหนักถึงความสำคัญของแพลตฟอร์มทำการตลาดออนไลน์เพิ่มยอดขาย และเสนอองค์กรด้วยรูปแบบของ Infographic โดยเน้นหลักการออกแบบที่สวยงาม สื่อความหมายง่าย และดึงดูดผู้อ่าน</p>
              </div>
              <div class="col item social"><a><i class="fa-brands fa-facebook-f"></i></a><a><i class="fa-brands fa-twitter"></i></a><a><i class="fab fa-snapchat"></i></a><a><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <p class="copyright">MEAN Stack © 2022</p>
      </div>
  </footer>
</div>
