<div class="fadeIn">
  <div class="img-text">
    <img class="img-fluid" src="assets/img/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg" draggable="false" alt="">
    <div class="title">MEAN Stack About Us
      <div class="sub-title">รู้จักกับผู้ก่อตั้ง MEAN Stack และจุดเริ่มต้นของบริการทางด้านการพัฒนาเว็บไซต์แบบครบวงจร
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3">
          <div class="reveal-left">
            <h2 class="title-section">รู้จักกับคุณศาศวัต ผู้ก่อตั้ง MEAN Stack
            </h2>
            <p>
              ผมมีความตั้งใจที่จะสร้างแพลตฟอร์มสำหรับผู้ที่มีความต้องการพัฒนาเว็บไซต์ที่สามารถวางระบบได้แบบครบวงจรเพื่อให้ผู้ใช้บริการทุกท่านสามารถสร้างและวางระบบได้ครบจบในที่เดียว
              จึงเป็นจุดเริ่มต้นและแรงผลักดันให้ผมก่อตั้งบริษัท MEAN Stack ขึ้น
              ซึ่งเป็นบริษัทที่ให้บริการเกี่ยวกับการเรียนรู้และพัฒนาเว็บไซต์ รวมไปจนถึงการให้บริการทางด้านคลาวด์
              ฐานข้อมูล สร้างโดเมนและดูแลระบบเซิร์ฟเวอร์ โดยทางบริษัทจะคำนึงจากความต้องการของลูกค้าเป็นหลัก
              เพื่อให้ผู้ใช้บริการได้รับผลงานตามที่ต้องการในระยะเวลาที่รวดเร็ว
              โดยทางบริษัทมีบุคลากรที่มีคุณภาพในการให้บริการ
              เพื่อรองรับผู้ใช้บริการที่หลากหลาย ทำให้ผู้ใช้บริการมีความสะดวกสบายในการพัฒนาเว็บไซต์
              อีกทั้งยังช่วยลดกระบวนการที่ยุ่งยากในการจัดหาทรัพยากรต่างๆเพื่อให้ผู้ใช้บริการสามารถสร้าง
              Production ได้อย่างง่ายดายภายในระยะเวลาอันสั้น
              โดยผู้ใช้บริการสามารถเลือกใช้บริการได้ตามความต้องการของผู้ใช้บริการ
              ทำให้มีความยืดหยุ่นและตอบโจทย์ต่อความต้องการของลูกค้าทุกประเภท
            </p>
          </div>
        </div>
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-top">
            <div class="about-img">
              <img src="assets/img/dad.jpg" draggable="false" alt="" class="responsive-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section mb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-left">
            <div class="about-img">
              <img src="assets/img/mom.jpg" draggable="false" alt="" class="responsive-img">
            </div>
          </div>
        </div>
        <div class="col-lg-6 py-3">
          <div class="reveal-right">
            <h2 class="title-section">ชีวิตและเป้าหมายของคุณศาศวัต</h2>
            <p>
              คุณศาศวัตมีความสนใจในการเขียนโปรแกรมตั้งแต่สมัยเรียน
              จึงเป็นจุดเริ่มต้นให้เข้ามาศึกษาในศาสตร์ของคอมพิวเตอร์และการเขียนโปรแกรม
              ในระหว่างที่กำลังศึกษาอยู่ในคณะวิศวกรรมคอมพิวเตอร์ คุณศาศวัตในมองเห็นถึงปัญหาของหลายๆบริษัท
              ในด้านการขาดแคลนโปรแกรมเมอร์
              เนื่องจากขณะนี้ในสายงานของนักพัฒนาระบบและโปรแกรมเมอร์มีความต้องการบุคลากรในสายงานนี้เป็นจำนวนมาก
              อีกทั้งบุคลากรในสายงานนี้
              มีจำนวนที่น้อยมากเมื่อเทียบกับบุคลากรในสายงานอื่นๆ คุณศาศวัตจึงได้เริ่มก่อตั้งบริษัท MEAN-Stack
              เพื่อให้ผู้ที่มีความสนใจในการพัฒนาระบบหรือบริษัทที่ต้องการแพลตฟอร์มสำหรับพัฒนาเว็บไซต์
              ได้มีพื้นที่สำหรับพัฒนาระบบและผลิตบุคลากรที่มีความเชี่ยวชาญในการพัฒนาเว็บไซต์เพื่อให้มีจำนวนบุคลากรเพียงพอต่อความต้องการของตลาด
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
