<div class="bg fadeIn">
  <div class="container">
    <div class="row">
      <h1>ติดต่อเรา</h1>
    </div>
    <div class="row">
      <h4 style="text-align:center">เรายินดีรับความคิดเห็นจากคุณ</h4>
    </div>
    <div class="row input-container">
      <div class="col-xs-12">
        <div class="styled-input wide">
          <input type="text" required />
          <label>ชื่อ นามสกุล</label>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="styled-input">
          <input type="text" required />
          <label>อีเมล</label>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="styled-input" style="float:right;">
          <input type="text" required />
          <label>เบอร์โทรศัพท์</label>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="styled-input wide">
          <textarea required></textarea>
          <label>ความคิดเห็น</label>
        </div>
      </div>
      <div class="col-xs-12 full-bg">
        <div class="btn-lrg submit-btn">ส่งข้อความ</div>
      </div>
    </div>
  </div>
</div>
