.btn {
  margin-right: 10px;
  margin-top: 2px;
  height: 40px;
  width: 120px;
  border: none;
  padding: 7px 26px;
  text-align: center;
  border-radius: 40px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes userlist {
  0% {
    transform: translateX(-20rem)
  }

  50% {
    transform: translateX(3rem);
  }

  100% {
    transform: translateX(0rem);
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes adduser {
  0% {
    transform: translateY(0rem)
  }

  25% {
    transform: translateY(-2rem);
  }

  75% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0rem);
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

table{
  margin-top: 70px;
  overflow: scroll;
}

#add-user {
  width: 130px;
  margin-bottom: 10px;
  float: right;
  animation-name: adduser;
  animation-duration: 1.5s;
}

#btn-add-modal {
  width: 130px;
}

.userlist {
  margin-bottom: 20px;
  animation-name: userlist;
  animation-duration: 2s;
}

.center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.btn-delete {
  height: 40px;
  width: 100px;
  border: none;
  padding: 7px 26px;
  text-align: center;
  border-radius: 40px;
}

.select {
  background-color: #f6f6f6;
  border: none;
  padding: 5px 32px;
  /* text-align: left; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 5px; */
  width: 30%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #5f5f5f;
}

label {
  margin-left: 10px;
  margin-right: 20px;
}

#deleteModal{
  padding-top: 50px;
}

#first-sure{
  margin-top: 20px;
  font-size: 25px;
  color: rgb(112, 112, 112);
}

#second-sure{
  margin-top: 20px;
  color: rgb(112, 112, 112);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#deleteSubmit{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 50px;
}

#deleteCancle{
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 50px;
}
