<div class="fadeIn">
  <img class="img-fluid" src="assets/img/Service-Banner-Cloud.jpg" draggable="false" alt="">

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-left">
            <div class="about-img">
              <img src="assets/img/1YTVgxkvq3YLyHxJi9r1ktw.jpg" draggable="false" alt="" class="responsive-img">
            </div>
          </div>
        </div>
        <div class="col-lg-6 py-3 p-5">
          <div class="reveal-right">
            <h2 class="title-section">บริการคลาวด์โซลูชันในรูปแบบ Domestic และ International</h2>
            <p>
              MEAN Stack เป็นผู้ให้บริการคลาวด์รายแรกที่มีพันธมิตรผู้ให้บริการคลาวด์ระดับโลกมากที่สุด ได้แก่ Amazon Web
              Services, Google, Microsoft, VMware, Huawei และ Tencent เนื่องจากมีบริการที่หลากหลาย
              ทำให้สามารถใช้งานร่วมกับองค์กรได้ทุกรูปแบบ นอกจากนี้ยังสามารถนำเสนอคลาวด์โซลูชั่นซึ่งถูกออกแบบ
              ให้ตอบโจทย์องค์กรต่างๆได้อย่างเหมาะสม คุ้มค่าด้วยบริการเสริมทางด้าน Cloud Consulting และ Managed service
              อีกทั้งยังสามารถเพิ่มประสิทธิภาพให้กับระบบไอทีเพื่อรองรับฟังก์ชั่นการทำงานที่หลากหลาย
            </p>
            <p>
              บริการคลาวด์ของ MEAN Stack ถูกแบ่งออกเป็น 2 ประเภท คือ บริการระบบคลาวด์ในประเทศ (Domestic Cloud)
              และบริการระบบคลาวด์ต่างประเทศ (International Cloud) เพื่อรองรับความต้องการที่แตกต่าง
            </p>
            <div class="mt-5"></div>
            <h2 class="title-section">บริการระบบคลาวด์ในประเทศ</h2>
            <p>
              เป็นบริการคลาวด์ที่ตั้งอยู่ในประเทศ มีทั้งแบบ Public Cloud, Hybrid Cloud และ Private Cloud
              ซึ่งระบบคลาวด์ในประเทศนี้ถูกออกแบบให้มีความยืดหยุ่น รวดเร็ว ปลอดภัย ลดต้นทุน
              ด้วยเทคโนโลยีที่ได้มาตรฐานสากล
              อีกทั้งยังเหมาะสำหรับองค์กรที่ต้องการจัดเก็บข้อมูลที่สำคัญไว้ภายในประเทศ
            </p>
            <div class="mt-5"></div>
            <h2 class="title-section">บริการระบบคลาวด์ต่างประเทศ</h2>
            <p>
              บริการคลาวด์ต่างประเทศมาพร้อมกับความโดดเด่นในการให้บริการที่ครอบคลุม ไม่ว่าจะเป็นแอพพลิเคชั่นที่หลากหลาย
              โซลูชันชั้นนำ และนวัตกรรมเทคโนโลยีใหม่ล่าสุด
              นอกจากนี้ยังการันตีคุณภาพของการให้บริการที่เหนือชั้นตามมาตรฐานระดับโลกอีกด้วย
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="why-mean-stack">บริการคลาวด์ของเราทำงานอย่างไร ?</h4>

  <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
    src="assets/img/hiw_enterprise_cloud_public.png" width="100%" draggable="false" alt="" class="mb-5">

  <h4 class="why-mean-stack">ทำไมต้องใช้บริการของเรา ?</h4>

  <div class="container mb-10">
    <div class="row align-items-center">
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="fa-regular fa-money-bill-1 fa-8x"></i>
          <div>
            <h5><small>จ่ายตามจำนวนที่ใช้</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="fa-solid fa-file-invoice-dollar fa-8x"></i>
          <div>
            <h5><small>ไม่ต้องเสียค่าดูแลระบบ</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="fa-solid fa-sitemap fa-8x"></i>
          <div>
            <h5><small>รองรับระบบขององค์กรที่มีความซับซ้อน</small></h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="menu-services d-flex align-items-center flex-column">
          <i class="fa-solid fa-shield-halved fa-8x"></i>
          <div>
            <h5><small>มีความปลอดภัยสูง</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
