.img-text{
  position: relative;
}

.img-fluid {
  width: 100%;
  filter: brightness(0.4) contrast(0.8);
}

.img-package{
  margin-top: 5%;
  width: 100%;
}

.about-img{
  margin-left: auto;
  margin-right: auto;
}

.responsive-img {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  position: absolute;
  top: 17%;
  left: 10%;
  color: white;
  font-size: 70px;
}

.sub-title {
  top: 100px;
  color: white;
  font-size: 30px;
}

.card-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 1px solid #a7a7a7;
  border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
  align-items: center;
  text-align: center;
  width: 80%;
  min-width: 280px;
  max-width: 350px;
  height: 350px;
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
  overflow: hidden;
  color: #575757;;
  /* color: #c2c2c2; */
  /* background: #dddddd; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #a7a7a7;
  align-items: center;
  text-align: center;
  width: 80%;
  min-width: 280px;
  max-width: 350px;
  height: 550px;
  margin: auto;
  font-weight: 600;
  overflow: hidden;
  color: #575757;
  /* background: #e62d35; */
  background: #e4e4e4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-row {
  text-align: left;
  margin-left: 3px;
  margin-top: 20px;
}

.card-title {
  /* color: #fed45c; */
  color: #363636;;
}

.btn-large {
  width: 40%;
  border-radius: 23px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #eeeeee;
  background-color: #575757;;
  font-size: large;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .title {
    position: absolute;
    top: 17%;
    left: 10%;
    color: white;
    font-size: 50px;
  }

  .sub-title {
    top: 100px;
    color: white;
    font-size: 20px;
  }

  .why-mean-stack {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #4b4b4b;
    font-size: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .title {
    position: absolute;
    top: 17%;
    left: 10%;
    color: white;
    font-size: 40px;
  }

  .sub-title {
    top: 100px;
    color: white;
    font-size: 15px;
  }

  .why-mean-stack {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #4b4b4b;
    font-size: 40px;
  }
}

@media only screen and (max-width: 520px) {
  .title {
    position: absolute;
    top: 17%;
    left: 10%;
    color: white;
    font-size: 35px;
  }

  .sub-title {
    top: 100px;
    color: white;
    font-size: 15px;
  }

  .why-mean-stack {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #4b4b4b;
    font-size: 25px;
  }
}

@media only screen and (max-width: 455px) {
  .title {
    position: absolute;
    top: 17%;
    left: 10%;
    color: white;
    font-size: 30px;
  }

  .sub-title {
    top: 100px;
    color: white;
    font-size: 13px;
  }

  .why-mean-stack {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #4b4b4b;
    font-size: 20px;
  }
}
